---
import Date from '@components/Date.astro';

import wordsCount from '@utils/wordCount';
// import wordsCountPackage from 'words-count';

// const { wordsCount } = wordsCountPackage;



const { date, content } = Astro.props;

const calReadTime = (content) => {
  return Math.floor(wordsCount(content) / 200)
}

const time = calReadTime(content);

const souldDShowReadTime = time > 1;
const text = `・${time}min`;


---


<style>
  .time {
    font-family: var(--font-family-serif);
    white-space: nowrap;
  }
</style>

<div class="time">
  <Date date={date} naked={true} />
  {souldDShowReadTime && text}
</div>