---
import Base from '~/layouts/Base.astro';
import Toc from '~/components/Toc/Toc.astro'
import Epilogue from '~/components/Epilogue.astro';
import metadata from '~/metadata';


const { headings } = Astro.props;

---

<style>
  h1 {
    text-transform: capitalize;
  }

  ul {}
</style>

<Base className="align-left" title={metadata.title.collection}>
<Toc headings={headings} />
<h1>Collection</h1>
<div class="article">
  <slot />
  <Epilogue />
</div>
</Base>